/*-----Header Start------*/

.underline__anim:after,
.overline__anim:before{
	content: '';
	position: absolute;
	height: 2px;
	width: 100%;
	left: 0;
	visibility: hidden;
	transform: scaleX(0);
	transition: all .3s ease;
}

.underline__anim:after{	
	bottom: 40px;
	background-color: #323969;
	transform-origin: left;
}

.overline__anim:before{	
	top: 40px;
	background-color: #ff6d6d;
	transform-origin: right;
}

.overline__anim:hover:before,
.underline__anim:hover:after{
	visibility: visible;
	transform: scaleX(1);
}

.user__icon:hover:after{
	
	transition: all 0.4s ease-in-out;
}

/*-----Header End------*/
