/*-----Header Start------*/
.underline__anim:after,
.overline__anim:before{
	content: '';
	position: absolute;
	height: 2px;
	width: 100%;
	left: 0;
	visibility: hidden;
	transform: scaleX(0);
	transition: all .3s ease;
}
.underline__anim:after{	
	bottom: 45px;
	background-color: #323969;
	transform-origin: left;
}
.overline__anim:before{	
	top: 45px;
	background-color: #ff6d6d;
	transform-origin: right;
}
.overline__anim:hover:before,
.underline__anim:hover:after{
	visibility: visible;
	transform: scaleX(1);
}

.user__icon:hover .user__menu{
	display: block;
}
.user__icon:hover .user__img_h1{
	display: none;
}
.user__icon:hover .user__img_h2{
	display: inline-block;
}

.user__item:hover{
	background-color: rgba(246, 245, 243, 0.2);
	/*background-color: rgba(50, 57, 105, 0.7);*/
}
/*-----Header End------*/

/*-----Article Start------*/
button:focus,
input:focus,
a:focus,
a:visited{
	outline: none;
}

.hero__but__play:hover,
.hero__but__mute:hover,
.hero__but__unmute:hover,
.hero__but__fullscreen:hover{
	box-shadow: 0px 0px 25px 5px #323969;
	transition: all 0.1s ease-in-out;
	opacity: 1 !important;
}
.hero__but__play:active,
.hero__but__mute:active,
.hero__but__unmute:active,
.hero__but__fullscreen:active{
	box-shadow: 0px 0px 5px 5px #323969;
	transition: all 0.1s ease-in-out;
}

.subscribe__input:hover,
.subscribe__input:focus,
.try__input:hover,
.try__input:focus{
	background-color: transparent;
}

.subscribe__button:hover{
	background-color: rgba(89, 95, 133, 1);
	transition: all 0.2s ease-in-out;
}
.subscribe__button:active{
	background-color: rgba(50, 57, 105, 1);
}

.social__ul li:hover{
	transform: scale(2.5);
}

.dribbble{
	background-image: url(../images/dribbble.svg);
}
.fb{
	background-image: url(../images/facebook.svg);
}
.g_plus{
	background-image: url(../images/googleplus.svg);
}
.twitter{
	background-image: url(../images/twitter.svg);
}
.github{
	background-image: url(../images/github.svg);
}

.but__tn:hover,
.try__button:hover{
	color: rgba(50, 57, 105, 1);
	font-weight: 600;
	transition: all 0.1s ease-in-out;
}
.but__tn:active,
.try__button:active{
	color: rgba(50, 57, 105, 0.56);
	font-weight: 500;
	transition: all 0.1s ease-in-out;
}
/*-----Article End------*/

