/*-----Header Start------*/
.underline__anim:after,
.overline__anim:before{
	content: '';
	position: absolute;
	height: 2px;
	width: 100%;
	left: 0;
	visibility: hidden;
	transform: scaleX(0);
	transition: all .3s ease;
}
.underline__anim:after{	
	bottom: 45px;
	background-color: #323969;
	transform-origin: left;
}
.overline__anim:before{	
	top: 45px;
	background-color: #ff6d6d;
	transform-origin: right;
}
.overline__anim:hover:before,
.underline__anim:hover:after{
	visibility: visible;
	transform: scaleX(1);
}

.user__icon:hover .user__menu{
	display: block;
}

.user__item a:hover{
	color: #282828;
}

.user__item:hover{
	background-color: rgba(246, 245, 243, 0.8);
}

.user__icon:hover .user__img_h1{
	display: none;
}
.user__icon:hover .user__img_h2{
	display: inline-block;
}
/*-----Header End------*/

/*-----Article Start------*/
button:focus,
input:focus,
a:focus,
a:visited{
	outline: none;
}

.hero__but__play:hover,
.hero__but__mute:hover,
.hero__but__unmute:hover,
.hero__but__fullscreen:hover,
.hero__but__minscreen:hover{
{
	background-color: #ffffff;
	opacity: 1;
}
.hero__but__play:active,
.hero__but__mute:active,
.hero__but__unmute:active,
.hero__but__fullscreen:active,
.hero__but__minscreen:active{
{
	opacity: .75;
	background-color: #ffffff;
}

.but__tn:hover,
.try__button:hover{
	color: rgba(50, 57, 105, 1);
	font-weight: 600;
}
.but__tn:active,
.try__button:active{
	color: rgba(50, 57, 105, 0.56);
	font-weight: 400;
}
/*-----Article End------*/

