@import url('https://fonts.googleapis.com/css?family=Exo:100,400,400i,500');

body{
	font-family: 'Exo', sans-serif;
	overflow: hidden;
}

/*-----Header Start-----*/
header{
	height: auto;
	border-bottom: 3px solid #ff6d6d;
	padding: 20px 0;
	position: fixed;
	transition: all .4s;
	z-index: 999;
	background-color: white;
	width: 100%;
	top: 0;
}

.navigation{
	left: 1.5em;
	transition: all .4s;
}

.header__nav,
.header__image{
	height: 50px;
	line-height: 50px;
}

.header{
	width: auto;
	height: 100%;
}

.header:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.header__ul{
	position: relative;
	text-align: justify;
	list-style: none;
	padding:0;
	margin: 0;
	vertical-align: middle;
}

.header__ul:after{
	width: 100%;
	height: 0;
	visibility: hidden;
	overflow: hidden;
	content: "";
	display: inline-block;
}

.header__li{
	display: inline-block;
	position: relative;
	text-align: left;
}

.header__li:active{
	background-color: #dedede78;
	border-radius: 5px;
}

.header__li a{
	position: relative;
	display: block;
	color: #282828;
	text-transform: uppercase;
	font-size: 22px;
	text-decoration: none;
}

input.toggle,
label.toggle{
	display: none;
}

label.toggle{
	padding: 0;
	margin: 0;
	position: relative;	
}

.user__icon{
	text-align: right;
	position: relative;
	display: inline-block;
}

.user__img_h2{
	display: none;
}

.user__menu{
	position: absolute;
	list-style: none;
	z-index: 999;
	display: none;
	right: 0;
	padding: 0;
	margin: 0;
	top: 100%;
	min-width: 200px;
	border-bottom: 3px solid #ff6d6d;
	background-color: rgba(50, 57, 105, 1);
}

.empty__li{
	height: 23px;
	border-bottom: 3px solid #ff6d6d;
	background-color: #fff;
}

.empty__li div{
	right: 14px;
	position: relative;
	color: #ff6d6d;
	bottom: 2px;
	font-size: 21px;
}

.user__item{
	padding: 10px 20px;
}

.user__item a{
	color: #fff;
	font-size: 22px;
}
/*-----Header End-----*/

/*-----Hero Baner Start-----*/
.hero-baner{
	padding-top: 100px;
	border-bottom: 3px solid #ff6d6d;
}

video {
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	transform: translateX(-50%) translateY(-50%);
	transition: 1s opacity;
}

#hero__video{
	margin: 5% 0;
}

.baner__text p{
	color:  rgba(40, 40, 40, 0.56);
	font-size: 60px;
	font-weight: 100;
	line-height: 75px;
}

.hero__but__play,
.hero__but__mute,
.hero__but__unmute,
.hero__but__fullscreen{
	border:0;
	border-radius: 50%;
	background-color: #fff;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: .8;
	width: 59px;
	height: 59px;
	transition: all 0.1s ease-in-out;
}

.hero__but__play{
	background-image: url(../images/play-button.svg);
}

.but__tn{
	color:  #ffffff;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 4px;
	border:0;
	border-radius: 3px;
	background-color:  #ff6d6d;
	width: 190px;
	height: 50px;
	transition: all 0.1s ease-in-out;
}

.mute__but,
.fullscr__but{
	display: inline-block;
	margin: 0 10px;
}

.hero__but__mute{
	background-image: url(../images/mute-yes.svg);
}
.hero__but__unmute{
	background-image: url(../images/mute-no.svg);
	display: none;
}

.hero__but__fullscreen{
	background-image: url(../images/fullscreen.svg);
}

.hero__info{
	color: rgba(40, 40, 40, 0.56);
	font-size: 14px;
	font-weight: 400;
}
/*-----Hero Baner End-----*/

/*----- Start Article Content-----*/
.hero-baner,
.section1,
.baner__news,
.section2,
.clients,
.section3,
.try-now{
	margin: 0;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.container__content{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
}

.content__rubric{
	font-weight: 500;
	line-height: 26px;
}

.content__heading,
.content__link,
.content__subrubric,
.client__name{
	font-weight: 500;
	line-height: 50px;
}

.content__rubric{
	color: #ff6d6d;
	font-size: 16px;
}

.content__heading{
	color: #282828;
	font-size: 36px;
}

.content__subheading{
	color: #282828;
	font-size: 22px;
}

.content__link{
	color: #ff6d6d;
	font-size: 36px;
}

.content__text,
.content__text_w{
	font-size: 16px;
	line-height: 26px;
}

.content__text{
	color: rgba(40, 40, 40, 0.56);
	font-weight: 500;
}

.content__text_w{
	color:  #ffffff;
	font-weight: 400;
	font-style: italic;
}

.content__left{
	text-align: left;
}

.content__center{
	text-align: center;
}

.content__right{
	text-align: right;
}

button{
	cursor: pointer;
}
/*----- End Article Content-----*/

/*----- Start Article Sections-----*/
.section1{
	background-color: #fff;
	background-image: url(../images/section1.jpg);
	height: auto;
	padding: 10% 0;
}

.ban_news,
.ban_news h3{
	margin-top: 5%;
}

.baner__news{
	background-color: #f6f5f3;
	background-image: url(../images/news.jpg);
	background-size: auto;
	height: auto;
	padding: 7% 0;
}

/*--------------*/
.section2{
	background-color: #fff;
	background-image: url(../images/section2.jpg);
	height: auto;
	padding: 5% 0;
}

.macbook__img{
	padding: 0;
	width: 90%;
	height: auto;
}

/*--------------*/
.clients{
	background-color: #22222a;
	background-image: url(../images/background.jpg);
	height: auto;
	padding: 5% 0;
}

.client__name{
	color:  #ffffff;
	font-size: 22px;
	margin-top: 5%;
	margin-bottom: 0;
	line-height: 26px;
}

.clients__icon img{
	margin: 5% 4% 0 4%;
}

.clients__icon img:first-child{
	margin-left: 0;
}

.clients__icon img:last-child{
	margin-right: 0;
}

/*--------------*/
.section3{
	background-color: #f7f6f4;
	height: auto;
	padding-top: 3%;
}
.s3__content{
	position: relative;
	height: 375px;
}

.s3{
	height: 373px;
	display: table-cell;
	vertical-align: middle;
	margin: 0 5%;
}

.s3 p:last-child{
	margin-top: 50px;
}

.s3__img{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

/*--------------*/
.try{
	background-color: #323969;
	height: auto;
	padding: 3% 0;
}

.try__rubric{
	margin-bottom: 0;
}

.try__heading{
	color: #ffffff;
	font-size: 40px;
	font-weight: 500;
	line-height: 50px;
	text-align: center;
}

.contact__ul{
	text-align: justify;
	list-style: none;
	padding: 4% 0 0 0;
	margin: 0;
}

.contact__ul:after{
	width: 100%;
	height: 0;
	visibility: hidden;
	overflow: hidden;
	content: "";
	display: inline-block;
}

.contact__ul li{
	display: inline-block;
	position: relative;
	margin-right: 2%;
}

.contact__ul li:last-child{
	margin-right: 0;
}

.try__input,
.try__button{
	padding: 0 5%;
	border-radius: 3px;
	border-width: 1px;
	border-style: solid;
	font-size: 16px;
	font-weight: 400;
	height: 48px;
	width: 278px;
	color: #fff;
	outline: none;
	transition: all 0.2s ease-in-out;
}

.try__input{
	border-color:  #fff;
	background-color: rgba(246, 245, 243, 0.2);
}

.try__input::placeholder{
	color:  rgba(246, 245, 243, 0.5);
	background-color: transparent;
}

.try__button{
	border: 0;
	background-color: #ff6d6d;
	box-shadow: 0px 3px 3px 0px rgba(14, 15, 15, 0.25);
}

.contact__ul h2{
	text-align: right;
}

.trial__30 img{
	opacity: 0.7;
	float: left;
}

.trial__30 h2{
	text-align: left;
	margin-left: 23px;
}

.try__text{
	color: rgba(246, 245, 243, 0.5);
	font-size: 16px;
	font-weight: 400;
	line-height: 75px;
}

.try__text a{
	text-decoration: underline !important;
	cursor: pointer;
	color: inherit;
}
/*----- End Article Sections-----*/

/*----- Start Footer-----*/
footer{
	background-color: #fff;
	background-image: url(../images/footer.jpg);
	height: auto;
	padding: 3% 0;
	margin: 0;
	position: relative;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: top right;
}

.f__margin{
	margin-top: 30px;
}

.f__info,
.f__link{
	color: rgba(40, 40, 40, 0.56);
	font-size: 14px;
	font-weight: 500;
	line-height: 30px;
	margin: 0;
}

.f__ul{
	list-style: none;
	padding-left: 35px;
}

.f__li{
	margin-bottom: 13px;
}

.f__subhead{
	color: rgba(40, 40, 40, 1);
	font-size: 22px;
	font-weight: 500;
	line-height: 50px;
}

.f_subscribe{
	position: relative;
	width: 100%;
	margin: 10px 0 30px 0;
}

.subscribe__input{
	border-radius: 3px 0 0 3px;
	border: 1px solid #4e4e5e;
	background-color: rgba(141, 141, 141, 0.2);
	color: rgba(0, 0, 0, 1);
	opacity: 0.4;
	width: 78%;
	height: 46px;
	padding-left: 20px;
	font-weight: 500;
	font-size: 18px;
	transition: all 0.2s ease-in-out;
}

.subscribe__input::placeholder{
	color: rgba(0, 0, 0, 0.8);
	font-size: 16px;
	font-weight: 400;
}

.subscribe__button{
	position: relative;
	border-radius: 3px;
	border: 0;
	background-color: #ff6d6d;
	box-shadow: 0px 3px 3px 0px rgba(14, 15, 15, 0.25);
	padding: 0;
	width: 48px;
	height: 48px;
	margin-left: -6px;
	top: -1px;
}

.social__ul{
	text-align: center;
	list-style: none;
	padding:0;
	margin: 0;
}

.social__ul:after{
	width: 100%;
	height: 0;
	visibility: hidden;
	overflow: hidden;
	content: "";
	display: inline-block;
}

.social__ul li{
	display: inline-block;
	position: relative;
	margin-right: 8%;
	border-radius: 3px;
	transition: all 0.3s;
}

.social__ul li:last-child{
	margin-right: 0;
}

.social__ul div{
	cursor: pointer;
}

.social__icon{
	width: 21px;
	height: 21px;
	overflow: hidden;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	margin: 5px;
	cursor: auto;
	transition: all 0.3s ease-in-out;
}
/*----- End footer-----*/

/*----- Script -----*/
.scrolled {
	transform: translateY(-100%);
}

.stopfade { 
	opacity: .2;
}

#bg__video:fullscreen{
	opacity: 1;
}
#bg__video:-webkit-full-screen{
	opacity: 1;
}
#bg__video:-moz-full-screen{
	opacity: 1;
}
#bg__video:-ms-fullscreen{
	opacity: 1;
}

#overlay{
	position: fixed;
	z-index: 99999;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: #fff;
	transition: 1s 0.4s;
}

#progress{
	height: 2%;
	width: 0;
	background: #323969;
	position: absolute;
	top: 0;
}

#progstat{
	font-size: 2em;
	letter-spacing: 3px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	text-align: center;
	color: #323969;
	transition: .4s .4s;
}

#prellogo{
	opacity: 0;
	position: absolute;
	width: 40%;
	height: 60%;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	background-image: url(../images/logo.svg);
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	transition: 1s .4s;
}

.hidePerloader{
	display: none;
}

.body{
	overflow: visible;
}