@media screen and (max-width: 1600px){
	.try__input,
	.try__button{
		width: 210px;
	}
}

@media screen and (max-width: 1259px){
	.trial__30 h2{
		font-size: 12px;
	}
	.try__input,
	.try__button{
		width: 170px;
	}
	.s3__img {
		width: 100%;
		height: auto;
	}
	.f__ul {
		padding-left: 0;
	}
}

@media screen and (max-width: 991px){
	.xs__logo a{
		position: absolute;
		top: 50%;
		width: 103px;
		height: 50px;
		left: 50%;
		transform: translateX(-35%);
		-webkit-transform: translateX(-35%);
		-ms-transform: translateX(-35%);
		-moz-transform: translateX(-35%);
	}
	.header__nav{
		padding: 0;
	}
	.header__nav,
	input.toggle{
		display: none;
	}
	input[type=checkbox]:checked ~ 
	.header__nav,
	label.toggle,
	.header__li{
		display: table-row;
		cursor: pointer;
	}
	.header:before{
		content: none;
	}
	.header__ul:after{
		content: none;
	}
	.header__li a{
		margin: 5% 0;
	}
	.toggle img{
		background-color: rgba(40, 40, 40, 0.16);
		border-radius: 50%;
	}
	.user__icon img{
		top: 0;
		transform: translateY(0);
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		-moz-transform: translateY(0);
	}
	.empty__li div div{
		bottom: 18px;
	}
	.navigation{
		left: 0;
	}
	.hero__info{
		color: rgba(255, 109, 109, 0.86);
		font-weight: 500;
	}
	.s1__container{
		padding-right: 15%;
	}
	.baner__news{
		background-image: url(../images/news-m.jpg);
		background-size: contain;
		background-position: center right;
	}
	.s3__img {
		width: 90%;
	}
	.clients{
		background-size: auto;
		background-repeat: repeat;
	}
	.contact__ul {
		text-align: center;
	}
	.contact__ul li{
		margin: 0 0 10px 0;
	}
	.try__input,
	.try__button{
		width: 370px;
	}
	.trial__30 h2 {
		font-size: 16px;
	}
	.subscribe__input {
		width: 50%;
	}
	.center__mobi{
		text-align: center;
	}
}

@media screen and (max-width: 767px){
	.user__icon{
		right: -30px;
	}
	.hero-baner{
		padding: 0 15%;
	}
	.s2__container{
		padding: 0 15%;
	}
	.s3__content{
		height: 290px;
	}
	.subscribe__input{
		width: 70%;
	}
}

@media screen and (max-width: 575px){ 
	.s1__container{
		padding-right: 0;
	}
	.s3{
		padding: 0 3%;
	}
	.try__input,
	.try__button{
		width: 270px;
	}
}